body{
    background-color:lightgreen;
    display: flex;
     justify-content: center; 
    align-content: center;
}
label{
    position: relative;
}
input{
    border: none;
    padding: 5px 15px;
}
button{
position: absolute;
top: 0;
bottom: 0;
right: 0;
background: lightsalmon;
color: white;
border: none;
cursor: pointer;
}